apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "maestro.fullname" . }}
  labels:
    {{- include "maestro.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
